params {
    max_cpus   = 20
    max_memory = '50.GB'
    max_time   = '6.h'

    input_reads = "/apps/Felice/GSE/prova_per_nextflow/*_{1,2}.fastq.gz"
fasta = "https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/reference/genome.fa" 
gtf = "https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/reference/genes.gtf" 
}
