params {
    max_cpus   = 20
    max_memory = '50.GB'
    max_time   = '6.h'

    input_reads = "/apps/Felice/GSE/prova_per_nextflow/*_{1,2}.fastq.gz"
fasta = "/apps/Felice/GSE/nuovo_genoma/GRCh38.primary_assembly.genome.fa" 
gtf = "/apps/Felice/GSE/nuovo_genoma/gencode.v49.primary_assembly.annotation.gtf" 
}
