params {
    max_cpus   = 20
    max_memory = '50.GB'
    max_time   = '6.h'

fasta = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/genome.fasta"
gtf   = "${projectDir}/assets/test_genome.gtf"
input_reads = "${projectDir}/assets/test_reads/*_{1,2}.fastq.gz"
samplesheet = "${projectDir}/assets/test_samplesheet.csv"
design = "condition"
outdir = "test_results" 
}
